.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-btn-width: 52px;
  height: var(--default-layout-header-height);
  width: 100%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  // background-color: rgba(255, 255, 255, 1.0);
  background-color: var(--white);
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizonal-spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;

  &-btn {
    min-width: auto;
    font-size: 2.4rem;
    margin: 0;
    padding: 0px 8px;
    height: 32px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &+.actions-btn {
      margin-left: 0;

    }
  }
}

.more-btn {
  font-size: 2.4rem;
  background-color: transparent;
  margin-left: 28px;

  cursor: pointer;


}

.account-avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;

}