.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    min-width: 110px;
    font-family: "ProximaNova", sans-serif;
    height: 36px;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none; // not select

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }

    +.wrapper {
        margin-left: 8px;
    }

    &.title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.icon+.title,
.title+.icon {
    margin-left: 8px;
}

.round {
    border-color: rgba(22, 24, 35, 0.2);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;

    &:hover {
        background-color: var(--background-hover-primary);

    }
}

.icon {
    display: inline-flex;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//button type

.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
            #fe2c55;
    }
}

.outlinePrimary {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.outlineBrown {
    color: var(--black);
    border-color: rgba(22, 24, 35, 0.12);
    font-weight: 500;

    &:hover {
        background-color: var(--background-hover-primary);
    }
}

//button size

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}